html,
body{
  background-color: black;
  color: rgb(165,165,165);
  font-family: sans-serif;
  font-size:1em;
}

/* reset the lists and link styles */

ul,
li{
  list-style:none;
}

a,
a:visited{
  text-decoration:none;
  color:rgb(165,165,165);
  font-weight:bold;
}
